<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="layout :: htmlhead"></head>
<body>

    <nav th:replace="layout :: menu">(menu)</nav>
    <main class="container mt-4">
        <h1 class="mb-4 text-center">Cadastro de Produto</h1>
        <form th:action="@{/produto}" method="POST" th:object="${produto}" class="p-4 shadow rounded bg-light">  
            <input type="hidden" th:field="*{id}">
            
            <div class="mb-3">
                <label for="txtmodelo" class="form-label">Modelo</label>
                <input 
                    id="txtmodelo"
                    th:field="*{modelo}"
                    class="form-control"
                    type="text"
                    placeholder="Digite o modelo do produto">
            </div>
            
            <div class="mb-3">
                <label for="txtsn" class="form-label">Serial Number</label>
                <input 
                    id="txtsn"
                    th:field="*{sn}"
                    class="form-control"
                    type="text"
                    placeholder="Digite o serial number">
            </div>
            
            <div class="mb-3">
                <label for="selectTecnologia" class="form-label">Tecnologia</label>
                <select id="selectTecnologia" class="form-select" th:field="*{tec}">
                    <option th:each="umatec : ${listaTec}"
                        th:text="${umatec.nome}"
                        th:value="${umatec.id}">
                    </option>
                </select>
            </div>
            
            <div class="mb-3">
                <label for="selectLocalizacao" class="form-label">Localização</label>
                <select id="selectLocalizacao" class="form-select" th:field="*{localizacao}">
                    <option th:each="umalocalozacao : ${listaLocalizacao}"
                        th:text="${umalocalozacao.nome}"
                        th:value="${umalocalozacao.id}">
                    </option>
                </select>
            </div>
            
            <div class="mb-3">
                <label for="selectTipo" class="form-label">Tipo</label>
                <select id="selectTipo" class="form-select" th:field="*{tipo}">
                    <option th:each="umtipo : ${listaTipo}"
                        th:text="${umtipo.tipo}"
                        th:value="${umtipo.id}">
                    </option>
                </select>
            </div>
            
            <div class="mb-3">
                <label for="selectStatus" class="form-label">Status</label>
                <select id="selectStatus" class="form-select" th:field="*{status}">
                    <option th:each="umaStatus : ${listaStatus}"
                        th:text="${umaStatus.Status}"
                        th:value="${umaStatus.id}">
                    </option>
                </select>
            </div>
            
            <div class="mb-3">
                <label for="txtobs" class="form-label">Observação</label>
                <textarea 
                    id="txtobs"
                    th:field="*{obs}"
                    class="form-control"
                    rows="3"
                    placeholder="Digite as principais informações"></textarea>
            </div>
            

        <h3 class="mb-4 text-right">Adicionar Componentes</h3>
        <div class="card mt-4">

                <table class="table">
                    <thead>
                        <tr>
                            <th>Componentes Adicionados</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="umItem, stat : *{itens}">
                            <td th:text="${umItem.comp?.pn}"></td>
                            <input type="hidden" th:field="*{itens[__${stat.index}__].comp}">

                            <td>
                                <button class="btn btn-danger" type="submit" name="removeitem" th:value="__${stat.index}__">Remover</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card mt-4">
            <div class="card-body">
                <h5 class="card-title">Selecione novo Componente</h5>
                <div class="form-group">
                    <label for="cbproduto">Produto:</label>
                    <select class="form-select" id="cbproduto" th:field="${novoItem.comp}">
                        <option th:each="umProduto : ${listaComp}" th:value="${umProduto.id}" th:text="${umProduto.pn}"></option>
                    </select>
                </div>

                <button type="submit" name="incitem" class="btn btn-primary">Adicionar Componente</button>
            </div>
        </div>

        <button type="submit" name="save" class="btn btn-primary mt-3">Cadastrar Produto</button>
    </form>
</main>

    <div th:include="layout :: footer" class="mt-4">(footer)</div>
</body>
</html>
