<!DOCTYPE html>
<!---link faz o CSS
//script faz o javascript-->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:include="layout :: htmlhead"></head>
    <body>

        <nav th:replace="layout :: menu">(menu)</nav>
        <main class="container">
            <h1>Produto</h1>
            <form th:action="@{/produto}" method="POST" th:object="${produto}">  
                <input type="hidden" th:field="*{id}">
                <div class="form-grup">
                    <label for="txtmodelo">Modelo</label>
                    <!-- id é para não ter a mesma id-->
                    <input 
                    id="txtmodelo"
                    th:field="*{modelo}"
                    class="form-control form-control-sm"
                    type="text"
                    placeholder="Modelo do produto">
                </div>
                <div class="form-grup">
                    <label for="txtobs">Observação</label>
                    <input 
                    id="txtobs"
                    th:field="*{obs}"
                    class="form-control form-control-sm"
                    type="text"
                    placeholder="Principais informações">
                </div>


                
                <div class="form-grup">
                    <label for="txtmodelo">Localização</label>
                    <select class="form-select" th:field="*{localizacao}">
                        <option th:each="umalocalozacao : ${listaLocalizacao}"
                        th:text="${umalocalozacao.nome}"
                        th:value="${umalocalozacao.id}">
                    
                    </option>

                    </select>
                </div>
                </select>
                <br>
        <div class="d-grid gap-2 d-md-block">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
            </form>
        </main>
        <div th:include="layout :: footer">(footer)</div>
    </body>
</html>